@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: 249, 249, 249;
  --font-color: 0, 0, 0;
  --gradient-start-color: 84, 91, 255;
  --gradient-stop-color: 168, 171, 255;
  background: rgb(var(--background-color));
  color: rgb(var(--font-color))
}

.highcharts-credits {
  @apply hidden;
}

.nav-bar-button {
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.separator {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-25%);
  height: 50%;
  border-right: 0.25px solid #222326; /* Adjust the border style as needed */
  opacity: 0.5;
}

.table-headers {
  color:#9EA2AA;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.12px;
}

.table-row {
  color: #222326;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.12px;
  height: 50px;
}

.table-row:hover {
  background-color: #DDD;
}

.chart-label {
  color: #222326;
  font-family: "Roboto Mono";
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.12px;
  text-transform: uppercase;
}


.loader {
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(-200%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.tooltip::before {
  overflow-wrap: anywhere;
}
