@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: 249, 249, 249;
  --font-color: 0, 0, 0;
  --gradient-start-color: 84, 91, 255;
  --gradient-stop-color: 168, 171, 255;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
} */

.highcharts-credits {
  @apply hidden;
}

 body {
  background: rgb(var(--background-color));
  color: rgb(var(--font-color))
}

.nav-bar-button {
  color: #000;
  font-family: "Roboto Mono";
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 2px;
  font-weight: 500;
}
.navbar, .nav-bar-button {
  margin: 0 !important;
  padding: 0;
}

* {
  font-family: "Roboto Mono";
}

.separator {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-25%);
  height: 50%;
  border-right: 0.25px solid #222326; /* Adjust the border style as needed */
  opacity: 0.5;
}

